In [304]:
import zipfile  
import os
import pandas as pd
import numpy as np
import statistics

import tensorflow as tf
from tensorflow.keras.layers import Dense, Softmax, BatchNormalization, Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [ ]:
z = zipfile.ZipFile('/content/drive/MyDrive/AIU/Test task moto races/dataset_sample.zip')

In [ ]:
z.extractall('/content/drive/MyDrive/AIU/Test task moto races')

In [ ]:
dataSet = pd.read_csv('/content/drive/MyDrive/AIU/Test task moto races/dataset_sample/race_2008_2015.csv')

In [310]:
# lets check how does predict file looks like

predictCSV = pd.read_csv('/content/drive/MyDrive/AIU/Test task moto races/dataset_sample/predict.csv')
predictCSV.head()

   raceinfo_id  ...  p2_Other_90_All_Here_soutei_time
0        52674  ...                             3.520
1        52674  ...                             3.517
2        52674  ...                             3.506
3        52674  ...                             3.434
4        52674  ...                             3.422

[5 rows x 358 columns]

In [ ]:
# quick overview of the dataset and check for extremes. We will come back here later, if accuracy will not be sufficient
dataSet.describe()

         raceinfo_id  ...  p2_Other_90_All_Here_soutei_time
count  303149.000000  ...                     303149.000000
mean    30695.001056  ...                          3.539427
std     13383.484116  ...                          0.182567
min      7321.000000  ...                         -0.157000
25%     18876.000000  ...                          3.468000
50%     31465.000000  ...                          3.512000
75%     42664.000000  ...                          3.568000
max     52397.000000  ...                          4.756000

[8 rows x 355 columns]

In [ ]:
#raceclass_code = 0.0; temperature of the race = 72.0; xorder = 9; racetime = 0; all_racetime = 0; hensa = 0; shisou_hensa = 0; soutei_time = 0; age = 74.0; all p2>100;

In [ ]:
# percentages of nan values in columns. Quite clean DF.
dataSet[dataSet.columns[dataSet.isnull().any()]].isnull().sum() *100 / dataSet.shape[0]

weather_name3                 0.002639
racetime                      0.218045
rank_last                     0.270494
last90_highplace              0.064325
p2_0_180_All_All_stave        0.000990
p2_0_90_All_All_stave         0.000330
p2_1_90_All_Here_stave        0.000330
p2_All_180_All_All_stave      0.000990
p2_All_90_All_All_stave       0.000330
p2_All_90_All_Here_stave      0.000330
p2_All_90_10_All_stave        0.000330
p2_All_90_10_Here_stave       0.000660
p2_All_Life_All_All_stave     0.023421
p2_Other_180_All_All_stave    0.000990
p2_Other_90_All_All_stave     0.000330
p2_Other_90_All_Here_stave    0.000990
dtype: float64

In [ ]:
# Due to relatively small amt of nan values in the DF, we can substitute these values with averages for the column, assuming
# low interference to the data structure itself

dataSet.fillna(dataSet.mean(), inplace = True) 
dataSet['weather_name3'].fillna('sunny', inplace = True)
dataSet['last90_highplace'].fillna(0.0, inplace = True)

In [ ]:
# now we have a look at the picture again.
dataSet[dataSet.columns[dataSet.isnull().any()]].isnull().sum() *100 / dataSet.shape[0]

rank_last    0.270494
dtype: float64

In [ ]:
# getting rid of races with number of drivers =! 8

def replaceNull(dataset) : 
 
    #dataset_train.isnull().sum()
    #dataset_test.isnull().sum()

    print('Before removing absent or accident players')
    print(dataset.shape)
    
    # remove absent or accident players. 
    dataset = dataset[ (dataset['xorder'] >= 1) & (dataset['xorder'] <= 8) ]

    print('After removing absent or accident players ')
    print(dataset.shape)

    return dataset

dataSetn = replaceNull(dataSet)

# group by raceinfo_id
group_by_raceInfo = dataSetn.groupby('raceinfo_id')['all_race_order']

# find race nrs, that do not have 8 participants

not8driversRaceNrlist=[]
for key, value in group_by_raceInfo.groups.items():
  if len(value)!=8:
    not8driversRaceNrlist.append(key)

# Now lets identify indices, that we need to get rid off
remIdxLst = []
for i in range(len(not8driversRaceNrlist)):
  remIdxLst.extend(dataSetn.index[dataSetn['raceinfo_id']==not8driversRaceNrlist[i]])

# drop indices
dataSetn.drop(index=remIdxLst, inplace=True)

In [ ]:
dataSetn.to_csv('/content/drive/MyDrive/AIU/Test task moto races/dataPrep.csv')

In [2]:
# dset with all the rows that we will use

dataSetn = pd.read_csv('/content/drive/MyDrive/AIU/Test task moto races/dataPrep.csv')
dataSetn.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
dataSetn.head()

   raceinfo_id  ... p2_Other_90_All_Here_soutei_time
0         7321  ...                            3.438
1         7321  ...                            3.379
2         7321  ...                            3.463
3         7321  ...                            3.390
4         7321  ...                            3.454

[5 rows x 364 columns]

In [ ]:
for i,el in enumerate(dataSetn.columns[0:30]):
  print(i, el)

////////////////////////////////////////
# Data prepration

In [3]:
# function to convert string rank to digit. No column removal/change places

def rank(x):

  if isinstance(x, float) :
      return 300;
  
  alpha = x[:1]
  num = int(x[2:])
  if alpha == 'S' :
      num = num
  elif alpha == 'A' :
      num += 100
  elif alpha == 'B' :
      num += 300
  elif alpha == 'C' :
      num += 400
  return num

def weather(x):

  weather = ['sunny', 'cloud', 'rain', 'lightrain', 'lightsnow', 'snow']
  out = 0

  if x == weather[0]:
    out = 1
  elif x == weather[1]:
    out = 2
  elif x == weather[2]:
    out = 3
  elif x == weather[3]:
    out = 4
  elif weather == weather[4]:
    out = 5
  else:
    out = 6
  
  return out

def situation(x):

  situation = ['good', 'rough', 'wind', 'wet', 'rash', 'oil']
  out = 0

  if x == situation[0]:
    out = 1
  elif x == situation[1]:
    out = 2
  elif x == situation[2]:
    out = 3
  elif x == situation[3]:
    out = 4
  elif x == situation[4]:
    out = 5
  else:
    out = 6
  
  return out

def distance(x):

  distance = [3100, 4100, 5100, 3600]
  out = 0
  
  if x == distance[0]:
    out = 1
  elif x == distance[1]:
    out = 2
  elif x == distance[2]:
    out = 3
  else:
    out = 4

  return out

def age(x):

  out = 0
  if (x > 0) and (x <= 21):
    out = 1
  elif (x > 21) and (x <= 26):
    out = 2
  elif (x > 26) and (x <= 31):
    out = 3
  elif (x > 31) and (x <= 36):
    out = 4
  elif (x > 36) and (x <= 41):
    out = 5    
  elif (x > 41) and (x <= 46):
    out = 6
  elif (x > 46) and (x <= 51):
    out = 7
  else:
    out = 8
  
  return out

def location(x):
  
  plcs = ['kawaguchi', 'funabashi', 'sanyou', 'hamamatsu', 'iizuka', 'isesaki', '0.0']
  out = 0

  if x == plcs[0]:
    out = 0
  elif x == plcs[1]:
    out = 1
  elif x == plcs[2]:
    out = 2
  elif x == plcs[3]:
    out = 3
  elif x == plcs[4]:
    out = 4
  elif x == plcs[5]:
    out = 5
  else:
    out = 6
  
  return out

def bets(x):

  refund = x.split(':')

  Quinella_refund = float(refund[3])
  Exacta_refund = float(refund[5])
  Trio_refund = float(refund[6])
  Trifecta_refund = float(refund[7])

  return Quinella_refund, Exacta_refund, Trio_refund, Trifecta_refund

In [307]:
def convert_data (dataset) :
    
    dataset = dataset.copy()

    dataset['rank_now'] = dataset['rank_now'].apply(rank)
    dataset['rank_last'] = dataset['rank_last'].apply(rank)
    dataset['weather_name3'] = dataset['weather_name3'].apply(weather)
    dataset['situation'] = dataset['situation'].apply(situation)
    dataset['age'] = dataset['age'].apply(age)
    dataset['distance'] = dataset['distance'].apply(distance)
    dataset['place_code'] = dataset['place_code'].apply(location)
    dataset['last90_highplace'] = dataset['last90_highplace'].apply(location)  

    return dataset

In [308]:
# prepare all dfs

df = convert_data(dataSetn)
dfy = dataSetn['xorder'].values
dfBets = pd.DataFrame()
dfBets['Quinella_refund', 'Exacta_refund', 'Trio_refund', 'Trifecta_refund'] = dataSetn['all_refund'].apply(bets)

In [311]:
# now lets drop columns, that we are not planning to use and so that it would mirror the predict table

# lets check how does predict file looks like

predictCSV = convert_data(predictCSV)
predictCSV.head()

   raceinfo_id  ...  p2_Other_90_All_Here_soutei_time
0        52674  ...                             3.520
1        52674  ...                             3.517
2        52674  ...                             3.506
3        52674  ...                             3.434
4        52674  ...                             3.422

[5 rows x 358 columns]

In [312]:
df.head() # delete 6 columns from xTrain - hold_date, all_refund, all_race_order, xorder, racetime, all_racetime,

   raceinfo_id  ... p2_Other_90_All_Here_soutei_time
0         7321  ...                            3.438
1         7321  ...                            3.379
2         7321  ...                            3.463
3         7321  ...                            3.390
4         7321  ...                            3.454

[5 rows x 364 columns]

In [313]:
dfx = df.drop(columns=['hold_date', 'all_refund', 'all_race_order', 'xorder', 'racetime', 'all_racetime'])

In [314]:
# final checkout
dfx.head()

   raceinfo_id  ...  p2_Other_90_All_Here_soutei_time
0         7321  ...                             3.438
1         7321  ...                             3.379
2         7321  ...                             3.463
3         7321  ...                             3.390
4         7321  ...                             3.454

[5 rows x 358 columns]

/////////////////////////////////
# From pandas to numpy

In [ ]:
group_by_data = df.groupby('raceinfo_id')['raceinfo_id'].mean()

In [ ]:
col_names = df.columns.to_list()

In [ ]:
# create work piece for yTrain

dfy = dataSetn.iloc[:][['raceinfo_id','xorder']]

In [ ]:
# final data acquisition (not time-effective)
result_dfx = pd.DataFrame(columns = col_names)
result_dfy = pd.DataFrame(columns = ['xorder'])

for el in group_by_data:
  row_df = dfx[dfx['raceinfo_id'] == el]

  tmp_x = pd.Series( [row_df[col_names[i]].values for i in range(len(col_names))],
                      index = result_dfx.columns )             
                         
  
  result_dfx = result_dfx.append( tmp_x, ignore_index = True )

  row_dfy = dfy[dfy['raceinfo_id'] == el]

  tmp_y = pd.Series([row_dfy['xorder'].values], index=result_dfy.columns)

  result_dfy = result_dfy.append(tmp_y, ignore_index=True)

In [ ]:
x = result_dfx.values
y = result_dfy.values
np.save('/content/drive/MyDrive/AIU/Test task moto races/x.npy', x)
np.save('/content/drive/MyDrive/AIU/Test task moto races/y.npy', y)

In [ ]:
nx = []
for i in range(x.shape[0]):
  nx.append(np.concatenate((x[i][0],x[i][1],x[i][2])).astype('float32'))

In [ ]:
ny = []
for i in range(y.shape[0]):
  ny.append(y[i][0].astype('float32'))

# Second option of converting pandas to numpy

In [72]:
prep_bets = dfBets.to_numpy()
nyBets = []


for i in range(0,len(prep_bets)):
  if i%8==0:
    tmp = list(map(int,prep_bets[i][0]))
    nyBets.append(tmp)

In [315]:
prep_dfx = dfx.to_numpy(dtype = 'float32')
nx = []
ny = []

tmpX = prep_dfx[0].tolist()
tmpY = [dfy[0]]

for i in range(1,len(prep_dfx)):
  if i%8!=0:
    tmpX.extend(prep_dfx[i])
    tmpY.extend([dfy[i]])
  else:
    nx.append(tmpX)
    ny.append(tmpY)
    tmpX = []
    tmpY = []
    tmpX.extend(prep_dfx[i])
    tmpY.extend([dfy[i]])
nx.append(tmpX)
ny.append(tmpY)

In [316]:
#np.save('/content/drive/MyDrive/AIU/Test task moto races/nx.npy', nx)
#np.save('/content/drive/MyDrive/AIU/Test task moto races/ny.npy', ny)
#np.save('/content/drive/MyDrive/AIU/Test task moto races/nyBets.npy', nyBets)

In [28]:
nx = np.load('/content/drive/MyDrive/AIU/Test task moto races/nx.npy')
ny = np.load('/content/drive/MyDrive/AIU/Test task moto races/ny.npy')
nyBets = np.load('/content/drive/MyDrive/AIU/Test task moto races/nyBets.npy')

In [317]:
#xTrain, xTest, yTrain, yTest = train_test_split(nx,ny, test_size = 0.1)

xTrain = nx[:32000]
xTest = nx[32000:]
yTrainOrd = ny[:32000]
yTestOrd = ny[32000:]
yTrainBet = nyBets[:32000]
yTestBet = nyBets[32000:]

In [318]:
xTrain = np.array(xTrain)
xTest = np.array(xTest)
yTrainOrd = np.array(yTrainOrd)
yTestOrd = np.array(yTestOrd)
yTrainBet = np.array(yTrainBet)
yTestBet = np.array(yTestBet)

In [319]:
print(xTrain.shape, xTest.shape, yTrainOrd.shape, yTestOrd.shape, yTrainBet.shape, yTestBet.shape)

(32000, 2864) (2489, 2864) (32000, 8) (2489, 8) (32000, 4) (2489, 4)

In [320]:
# try both options (slightly better results with StandardScaler)

scalerX = StandardScaler()
scalerX.fit(xTrain)
xTrain = scalerX.transform(xTrain)
xTest = scalerX.transform(xTest)

In [103]:
scalerX = MinMaxScaler()
scalerX.fit(xTrain)
xTrain = scalerX.transform(xTrain)
xTest = scalerX.transform(xTest)

In [321]:
scalerY = MinMaxScaler()
scalerY.fit(yTrainOrd)
yTrain = scalerY.transform(yTrainOrd)
yTest = scalerY.transform(yTestOrd)

In [322]:
model = Sequential()

model.add(BatchNormalization(trainable=True))
model.add(Dense(2000, activation='linear'))
model.add(Dense(1000, activation = 'linear'))
model.add(Dropout(0.25))
model.add(Dense(1000, activation = 'relu'))

model.add(Dense(8, activation='softmax'))

In [327]:
model.compile(optimizer = Adam(0.0000001), loss = 'mse', metrics = ['accuracy'])
model.fit(xTrain, yTrainOrd, batch_size=256, epochs=2, validation_data=(xTest, yTestOrd))

Epoch 1/2
125/125 [==============================] - 1s 6ms/step - loss: 23.8785 - accuracy: 0.5249 - val_loss: 23.9735 - val_accuracy: 0.4484
Epoch 2/2
125/125 [==============================] - 1s 4ms/step - loss: 23.8786 - accuracy: 0.5258 - val_loss: 23.9735 - val_accuracy: 0.4512

In [169]:
predict = model.predict(xTest[0:10])

In [193]:
predict = model.predict(xTest[0:3])
print(list(map(int,1000*predict[1])))

[988, 0, 4, 4, 0, 0, 1, 0]

# Calculation of probabilities of events

In [328]:
# First get coefs for victory for 1st, 2nd and 3rd places

predict = model.predict(xTest).tolist()
prob11 = [predict[i].index(sorted(predict[i], reverse = False)[0]) for i in range(len(predict))] # favourite to come first (indices)
prob21 = [predict[i].index(sorted(predict[i], reverse = False)[1]) for i in range(len(predict))] # 2nd favourite to come first (indices)
prob31 = [predict[i].index(sorted(predict[i], reverse = False)[2]) for i in range(len(predict))] # -//-

In [329]:
pr11 = [predict[i][prob11[i]] for i in range(len(predict))] # prelim.prob. of favourite to come first (actual values)
pr21 = [predict[i][prob21[i]] for i in range(len(predict))] # -//-
pr31 = [predict[i][prob31[i]] for i in range(len(predict))] # -//-
print(pr11[:5])

[6.627649418078363e-05, 0.003736220533028245, 1.5925495517876698e-06, 6.317717975434789e-07, 0.00021406548330560327]

In [330]:
# recalculate the probability

for i in range(len(predict)):
  sum = 1/pr11[i] + 1/pr21[i] + 1/pr31[i] + 1/(1 - (pr11[i]+pr21[i]+pr31[i]))

  pr11[i] = (1/pr11[i])/sum
  pr21[i] = (1/pr21[i])/sum
  pr31[i] = (1/pr31[i])/sum

print(pr21[:5])

[0.17442572702695522, 0.2603731884539716, 0.03919523449505196, 0.0008537757151548195, 0.27569812542515254]

In [332]:
QuinellaPr = [pr11[i]*(pr21[i]/(1-pr11[i]+0.0001)) + pr21[i]*(pr11[i]/(1-pr21[i] + 0.0001)) for i in range(len(predict))]                                     # 1st and 2nd place 
ExactaPr = [pr11[i]*(pr21[i]/(1-pr11[i]+0.0001)) for i in range(len(predict))]                                                                        # 1st and 2nd place exactly
TrioPr = [pr11[i]*(pr21[i]/(1-pr11[i]+0.0001))*(pr31[i]/(1-pr11[i]-pr21[i]+0.0001)) + pr21[i]*(pr11[i]/(1-pr21[i]+0.0001))*(pr31[i]/(1-pr11[i]-pr21[i]+0.0001)) +\
pr31[i]*(pr11[i]/(1-pr31[i]+0.0001))*(pr21[i]/(1-pr11[i]-pr31[i]+0.0001)) + pr31[i]*(pr21[i]/(1-pr31[i]+0.0001))*(pr11[i]/(1-pr21[i]-pr31[i]+0.0001)) for i in range(len(predict))]   # 1st, 2nd and 3rd prlace
TrifectaPr = [pr11[i]*(pr21[i]/(1-pr11[i]+0.0001))*(pr31[i]/(1-pr11[i]-pr21[i]+0.0001)) for i in range(len(predict))]                                        # 1st, 2nd and 3rd place exactly

In [334]:
# now lets calculate expected profits
QuinellaExpProfit = []
ExactaExpProfit = []
TrioExpProfit = []
TrifectaExpProfit = []

for i in range(10):
  QuinellaExpProfit.append(QuinellaPr[i] * dfBets['Quinella_refund', 'Exacta_refund', 'Trio_refund', 'Trifecta_refund'][i][0] - 100)
  ExactaExpProfit.append(ExactaPr[i] * dfBets['Quinella_refund', 'Exacta_refund', 'Trio_refund', 'Trifecta_refund'][i][1] - 100)
  TrioExpProfit.append(TrioPr[i] * dfBets['Quinella_refund', 'Exacta_refund', 'Trio_refund', 'Trifecta_refund'][i][2] - 100)
  TrifectaExpProfit.append(TrifectaPr[i] * dfBets['Quinella_refund', 'Exacta_refund', 'Trio_refund', 'Trifecta_refund'][i][3] - 100)

In [336]:
print(statistics.mean(QuinellaExpProfit))
print(statistics.mean(ExactaExpProfit))
print(statistics.mean(TrioExpProfit))
print(statistics.mean(TrifectaExpProfit))

335.1717373363741
805.5852748869585
122.80972663020077
1431.8497705582047

In [337]:
# now we can address the predictCSV file

predictCSV.head()

   raceinfo_id  ...  p2_Other_90_All_Here_soutei_time
0        52674  ...                             3.520
1        52674  ...                             3.517
2        52674  ...                             3.506
3        52674  ...                             3.434
4        52674  ...                             3.422

[5 rows x 358 columns]

In [414]:
smth = pd.read_csv('/content/drive/MyDrive/AIU/Test task moto races/dataset_sample/predict.csv')
print(len(smth))

40362

In [384]:
rws0 = []
rws0idx = []
for i in range(0,len(smth)):
  if len(smth[smth['raceinfo_id']==smth.loc[i,'raceinfo_id']]) !=8:
    if smth.loc[i,'raceinfo_id'] == np.array(rws0).any():
      continue
    else:
      rws0.append(smth.loc[i,'raceinfo_id'])
      rws0idx.append(i)

In [ ]:
from collections import Counter

c = Counter(rws0)
list(c) # check indices and their amt in the list

In [382]:
# we will introduce rather weak participant to the sets with 7 bikers so he wouldnt affect results much
pd0layer = predictCSV[:1].copy()

In [383]:
pd0layer

   raceinfo_id  ...  p2_Other_90_All_Here_soutei_time
0        52674  ...                              3.52

[1 rows x 358 columns]

In [406]:
idxsUpd = []
for i in range(len(rws0idx)-1):
  if rws0[i+1] > rws0[i]:
    idxsUpd.append(rws0idx[i])
idxsUpd.append(rws0idx[i+1])

In [ ]:
len(idxsUpd)
len(list(c))
c = Counter(rws0)
c

In [389]:
def insert_row(idx, df, df_insert):
    dfA = df.iloc[:idx, ]
    dfB = df.iloc[idx:, ]

    df = dfA.append(df_insert).append(dfB).reset_index(drop = True)

    return df

In [419]:
# inserting rows to predict DF

for i in range(len(idxsUpd)):
  predictCSV = insert_row(idxsUpd[i], predictCSV, pd0layer)

In [421]:
prepPredict = predictCSV.to_numpy(dtype = 'float32')
nPredict = []

tmpX = prepPredict[0].tolist()

for i in range(1,len(prepPredict)):
  if i%8!=0:
    tmpX.extend(prepPredict[i])
  else:
    nPredict.append(tmpX)
    tmpX = []

    tmpX.extend(prepPredict[i])

nPredict.append(tmpX)

nPredict = np.array(nPredict)
nPredict = scalerX.transform(nPredict)

In [423]:
results = model.predict(nPredict)
results.shape

In [444]:
results[0].argsort()

array([4, 3, 5, 7, 6, 2, 1, 0])

In [442]:
resultStr = []
for i in range(len(results)):
  line = '_'.join(list(map(str,results[i].argsort())))
  resultStr.append(line)

In [435]:
predict_hit_rate = pd.DataFrame(data = predictCSV['raceinfo_id'].unique(), columns = ['raceinfo_id'])

In [446]:
predict_hit_rate['xorder'] = resultStr

In [448]:
predict_hit_rate.to_csv('/content/drive/MyDrive/AIU/Test task moto races/predict_hit_rate.csv')

In [449]:
predict_recovery_rate = predict_hit_rate.copy()

In [450]:
predict_recovery_rate['Quinella'] = 0
predict_recovery_rate['Exacta'] = 0
predict_recovery_rate['Trio'] = 0
predict_recovery_rate['Trifecta'] = 10 # based on mean expected income values

In [452]:
predict_recovery_rate.head()

   raceinfo_id           xorder  Quinella  Exacta  Trio  Trifecta
0        52674  4_3_5_7_6_2_1_0         0       0     0        10
1        52675  4_5_3_6_7_2_0_1         0       0     0        10
2        52676  5_7_3_6_4_2_1_0         0       0     0        10
3        52677  6_7_5_4_2_0_1_3         0       0     0        10
4        52678  6_5_4_7_3_2_0_1         0       0     0        10

In [453]:
predict_recovery_rate.to_csv('/content/drive/MyDrive/AIU/Test task moto races/predict_recovery_rate.csv')